@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
}

.header {
    padding: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}
nav ul  {
    display: flex;
    
}
nav ul li {
    list-style: none;
    font-size: 1.2em;
    list-style-type: none;
}
.logo {
    font-style: italic;
    letter-spacing: 1.5px;
    font-size: 25px;
}
nav ul li a {
    text-decoration: none;
    padding: 0 .5em;
    color: #4D02ED;
    font-size: 20px;
}
.logo span {
    color: #4D02ED;
}
.nth-4 {
    background-color: #4D02ED;
    padding: 10px 20px;
    border-radius: 30px;
    margin-left: 20px;
    color: white;
} 

.nth-4:hover {
    background-color: #ff6584;
    transition: .2s;
}
.nth-1:hover ,.nth-2:hover ,.nth-3:hover {
    color: #ff6584;
    transition: .2s;
}
span:hover {
    color: #ff6584;
    transition: .2s;
}


.container {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    height: 90vh;
}

.bg-box {
    width: 50%;
    
}

.bg-box svg{
    width: 100%;
    height: 99%;
    
    
}
.content-box {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-box h1{
    color: #ff6584;
    font-weight: 900;
    font-size: 50px;
    line-height: 0.9em;
    margin-bottom: 30px;
}
.content-box p{
    line-height: 1.8em;
    font-weight: 500;
}
.content-box button {
    border: none;
    outline: none;
    color: white;
    background-color:  #ff6584;
    padding: 16px 0px;
    border-radius: 30px;
    font-size: 20px;
    width: 160px;
    margin-top: 30px;
    cursor: pointer;

}